.wrapper {
	color: $mainColor;
    font-family: $fontFamily;
	font-size: $fontSize;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer

}
.main {
    flex: 1 1 auto;
} 